*, *::before, *::after{
    box-sizing:border-box;
    
}
body{
    margin:0;
    /* padding:0; */
}
img{
    max-width:100%;
}

.container{
    background-color: black;
    width:85%;
    border:1px solid red;
} 