*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
}

:root {
    /* Font Family */
    --open-sans: "Open Sans", sans-serif;
    --raleway: "Raleway", sans-serif;
    /*  intro and email sign up background */
    --dark-blue--1: hsl(217, 28%, 15%);
    /* main background */
    --dark-blue--2: hsl(218, 28%, 13%);
    /* footer background */
    --dark-blue--3: hsl(216, 53%, 9%);
    /* testimonials background */
    --dark-blue--4: hsl(219, 30%, 18%);
    /* Call to action gradient */
    --cyan-hsl: hsl(176, 68%, 64%);
    --blue: hsl(198, 60%, 50%);
    /* Neutral */
    --white: hsl(0, 0%, 100%);
    /* Font-weight */
    --light: 400;
    --bolder: 700;
}

body {
    margin: 0;
    font-size: 14px;
    color: var(--white);
    font-family: var(--open-sans);
    font-weight: var(--light);
    line-height: 1.6;
    background-color: var(--dark-blue--1);
    text-align: center;
}

img {
    max-width: 100%;
}

P {
    color: rgba(255, 255, 255, 0.9);
}

.container {
    width: 90%;
    max-width: 1350px;
    margin: auto;
}

h2,
h3,
h5,
button {
    font-weight: 700;
    font-family: var(--raleway);
}

li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

header {
    display: block;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3em;
    padding-bottom: 3em;
}

nav img {
    width: 100px;
    align-items: center;
}

.list {
    display: flex;
}

.nav-link>a {
    color: var(--white);
}

.nav-link+.nav-link {
    margin-left: 20px;
}

@media (min-width:500px) {
    .nav-link>a {
        font-size: 1.2rem;
    }

    nav img {
        width: 120px;
    }
}

@media (min-width:750px) {
    .nav-link>a {
        font-size: 1.3rem;
    }

    nav img {
        width: 176px;
    }

    .nav-link+.nav-link {
        margin-left: 0;
    }

    .list {
        gap: 3.5em;
    }
}
.wavy{
    
    background-color:var(--dark-blue--1);
    background-image: url(./images/bg-curvy-desktop.svg);
    background-repeat:no-repeat;
    background-size:contain;
    background-position: center bottom;
    width:100%;
}
.intro__text {
    padding-top: 1.5em;
}

.intro__text--title {
    font-size: 1.8rem;
    line-height: 1.4;
}

.intro__text>p {
    font-size: 1.2rem;
    padding-bottom: 1em;
    color: rgba(255, 255, 255, 0.9);
}

.intro__text--button {
    padding: 1.3rem 5rem;
    font-size: 16px;
    color: var(--white);
    /* background-color: var(--blue); */
    cursor: pointer;
    border: none;
    border-radius: 50px;
    font-weight: 500;
    background:var(--blue);
    background:linear-gradient(to right, var(--cyan-hsl), var(--blue));
}

@-webkit-keyframes hvr-wobble-vertical {
    16.65% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }

    33.3% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
    }

    49.95% {
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
    }

    66.6% {
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
    }

    83.25% {
        -webkit-transform: translateY(1px);
        transform: translateY(1px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes hvr-wobble-vertical {
    16.65% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }

    33.3% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
    }

    49.95% {
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
    }

    66.6% {
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
    }

    83.25% {
        -webkit-transform: translateY(1px);
        transform: translateY(1px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.hvr-wobble-vertical {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-wobble-vertical:hover,
.hvr-wobble-vertical:focus,
.hvr-wobble-vertical:active {
    -webkit-animation-name: hvr-wobble-vertical;
    animation-name: hvr-wobble-vertical;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

@media (min-width:500px) {
    .intro__text--title {
        font-size: calc(1.8rem + .2rem);
    }

    .intro__text>p {
        font-size: calc(1.2rem + .1rem)
    }

    .container-2--text__title {
        font-size: 2rem;
    }
}

@media (min-width:700px) {
    .intro__text {
        max-width: 85%;
        margin: auto;
        width: 700px;
    }

    .intro__text--title {
        font-size: calc(1.8rem + .5rem);
    }

    .intro__text>p {
        font-size: calc(1.2rem + .2rem)
    }

    .intro__text--button {
        padding: 1.5rem calc(4.3rem + 4rem);
    }
    .wavy{
        background-image:url(./images/bg-curvy-mobile.svg);
    }
}

main {
    background-color: var(--dark-blue--2);
}
.container__1{
    padding-top:6em;
}
.container__1--title {
    margin-top: 1.3em;
    font-size: 1.5rem;
}

.row+.row {
    margin-top: 6em;
}
.row>p {
    font-size: 1.1rem;
    color: rgba(255, 255, 255, 0.9);
}

.row-container-2 {
    margin-top: 6em;
}

@media (min-width:701px) {
    .row+.row {
        margin-top: 0;
    }

    .row-container-1,
    .row-container-2 {
        display: flex;
        gap: 7em;
    }
}
.container__2 {
    margin-top: 10em;
}

.container__2--text {
    text-align: left;
}

.container__2--text>p {
    font-size: 1rem;
}

@media (min-width:810px) {
    .container__2 {
        display: flex;
        gap: 3em;
    }

    .container__2--image {
        align-self: center;
    }
    .container-2--text__title{
        max-width:20ch;
    }
}
@media (min-width:1114px){
    .container__2--text p{
        max-width:70ch;
    }
}
.fylo-link {
    text-align: left;
    color: var(--cyan-hsl);
    border-bottom: 1px solid var(--cyan-hsl);
    padding-bottom: 5px;
    border-spacing: 10px;
    font-size: 1rem;
}

.fylo-link::after {
    content: url(./images/icon-arrow.svg);
    vertical-align: middle;
    margin-left: 3px;
}

.testimonials {
    margin-top: 10em;
    position: relative;
    z-index: 1;
}

.testimonial--quote {
    position: absolute;
    z-index: -1;
    top: -2rem;
    left: 1rem;
}

.testimonials--content {
    background-color: var(--dark-blue--4);
    border-radius: 10px;
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.2);
    padding: 1.5em 2em;
    text-align: left;
    width: 90%;
    margin: 0 auto;
}
@media (min-width:850px){
.testimonial--quote {
  left: -.3rem;
}
}

.testimonials--content>p {
    font-size: 1rem;
}

.testimonial--content--info>img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.testimonial--content--info {
    display: flex;
    align-items: center;
}

.user {
    margin-left: 10px;
    margin-top: 0;
}

.user>h5 {
    font-size: 1rem;
}

.user>p {
    font-size: 0.8rem;
    letter-spacing: 0.5px;
}

.info+.info {
    margin-top: 2em;
}


/* Element | http://127.0.0.1:5500/index.html */

div.testimonials--content:nth-child(3)>div:nth-child(2)>div:nth-child(2)>h5:nth-child(1) {
    margin-top: 0px;
    margin-bottom: 0px;
}


/* Element | http://127.0.0.1:5500/index.html */

div.testimonials--content:nth-child(3)>div:nth-child(2)>div:nth-child(2)>p:nth-child(2) {
    margin-top: 5px;
    margin-bottom: 5px;
}


/* Element | http://127.0.0.1:5500/index.html */

.user>h5:nth-child(1) {
    margin-top: 0px;
    margin-bottom: 0px;
}


/* Element | http://127.0.0.1:5500/index.html */

.user>p:nth-child(2) {
    margin-top: 5px;
    margin-bottom: 0px;
}


/* Element | http://127.0.0.1:5500/index.html */

div.testimonials--content:nth-child(4)>div:nth-child(2)>div:nth-child(2)>h5:nth-child(1) {
    margin-top: 0px;
    margin-bottom: 0px;
}


/* Element | http://127.0.0.1:5500/index.html */

div.testimonials--content:nth-child(4)>div:nth-child(2)>div:nth-child(2)>p:nth-child(2) {
    margin-top: 5px;
    margin-bottom: 0px;
}

@media (min-width:850px) {
    .testimonials {
        display: flex;
        gap: 3em;
    }

    .info+.info {
        margin-top: 0;
    }

    .testimonials--content>p {
        font-size: .9rem;
    }
}

.cta {
    background-color: #1c2431;
    padding: 3em 2em;
    text-align: center;
    border-radius: 15px;
    position: relative;
    top: 10.5rem;
}

.cta>h2 {
    font-size: 1.4rem;
}

.cta>p:nth-child(2) {
    font-size: 1rem;
    margin-bottom: 2em;
}

@media (min-width:800px) {
    .cta {
        max-width: 700px;
        width: 80%;
        margin: 0 auto;
    }
}

input[type="email"] {
    width: 95%;
    border: none;
    border-radius: 50px;
    margin-bottom: 1.5em;
    font-weight: 500;
    letter-spacing: .03rem;
    padding: .7rem;
    font-size: 1.2rem;
    font-family: var(--open-sans);
    text-align: center;
}

::placeholder {
    font-family: var(--open-sans);
    font-size: 1.2rem;
    font-weight: var(--bolder);
}

.cta--form--button {
    width: 95%;
    background-color: var(--cyan-hsl);
    padding: .7rem;
    border: none;
    border-radius: 50px;
    font-size: 1rem;
    color: var(--white);
    font-weight: 700;
    cursor: pointer;
}
@-webkit-keyframes hvr-push {
    50% {
      -webkit-transform: scale(0.8);
      transform: scale(0.8);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  @keyframes hvr-push {
    50% {
      -webkit-transform: scale(0.8);
      transform: scale(0.8);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  .hvr-push {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .hvr-push:focus, .hvr-push:active {
    -webkit-animation-name: hvr-push;
    animation-name: hvr-push;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }
footer {
    background-color: var(--dark-blue--3);
}

.footer {
    padding-top: 16em;
    padding-bottom: 2em;
    font-size: 1rem;
    color: var(--white);
    text-align: left;
}

.footer-location-info {
    display: flex;
    margin-top: 2em;
}

.footer-location-info>img {
    margin-top: 20px;
    margin-right: 20px;
    align-self: flex-start;
    width: 13px;
    height: 18px;
}

.svg-marker {
    display: flex;
}

.svg-marker>a {
    color: white;
}

.svg-marker+.svg-marker {
    margin-top: 1.5em;
}

svg {
    align-self: center;
    margin-right: 20px;
}

.footer-text-about {
    margin-top: 4em;
}

.footer-about-list>a {
    color: white;
}

.footer-about-list+.footer-about-list {
    margin-top: 1em;
}

.footer-text-about-contact {
    margin-top: 3em;
}

.footer--icons {
    margin-top: 5em;
    gap:1.2em;
    justify-content: center;
    display:flex;
}

.footer--icons .fab {
    font-size: 1.2rem;
    padding: .7em;
    border-radius: 50px;
    border:1px solid white;
    color:white;
}
.footer--icons .fab:hover {
    background-color:white;
    transition: 250ms ease-in;
    color:var(--dark-blue--3);
    font-weight: 900;
}
.attribution {
    font-size: 1.2rem;
    text-align: center;
    font-family: 'Rancho', cursive;
    margin-top:3em;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width:700px) {
    .flex {
        display: flex;
    }

    .footer-location-info {
        width: 100%;
    }

    .footer-contact-info {
        width: 100%;
    }

    .footer-location-info {
        margin-top: 0;
    }

    .flex-info {
        display: flex;
        
    }
    .footer--icons {
        align-items:center;
    }
}
@media (min-width:700px) and (max-width:949px) {
    .flex {
        gap: 3em;
    }

    .flex-info {
        margin-top: 3em;
        gap: 7em;
    }

}

/* style.css | http://127.0.0.1:5500/style.css?_cacheOverride=1596268811027 */

.footer-text-about,
.footer-text-about-contact,
.footer--icons {
    margin: 0;
}
@media (min-width:950px) {
    .footer--info {
        display: flex;
        width: 100%;
        gap: 2em;
        justify-content: space-evenly;
        margin-top: 2em;
    }
    .footer--icons {
        align-items: flex-start;
        margin-top: 1em;
    }
    .footer-text-about,
    .footer-text-about-contact,
    .footer--icons {
        width: 100%;
    }
    .flex,
    .flex-info {
        width: 100%;
    }

    .flex {
        gap: 3em;
    }
}